

<h1>Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>

   <p>booking: <%= booking.purpose %></p>
   <p>name: <%= booking.room.name %></p>
   <p>start: <%= booking.start %></p>
   <p>end: <%= booking.end %></p>
    <p>
      <%= link_to "Show this booking", booking %>
    </p>
  <% end %>
</div>

<%= link_to "New booking", new_booking_path %>